@import "normalize.scss";

// === Mixins ===

@mixin font-main {
  font-family: "Montserrat", sans-serif;
}
@mixin font-secondary {
  font-family: "Poppins", sans-serif;
}

// === / Mixins ===

// === Variables ===

$color-white: #ffffff;
$color-red: #a92a1d;
$color-black: #000000;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;

// === / Variables ===

body {
  background-color: $color-black;
  color: $color-white;
  .red {
    color: $color-red;
  }
}

// === header ===
.section-header {
  background: url("/image/Rectangle\ 464.png") no-repeat 50% 50%;

  height: 910px;
  background-size: cover;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25) 71.06%,
      #000000 91.71%
    );
    transform: rotate(180deg);
  }

  &-cap {
    display: flex;
    position: relative;
    z-index: 10;
    justify-content: space-around;
    &-left {
      display: flex;

      width: 100%;
      &-logo {
        @include font-secondary;
        font-size: 36px;
        line-height: 54px;
        font-weight: 700;
        margin-top: 28px;
      }

      &-clock {
        margin-top: 45px;
      }

      &-time {
        margin-top: 39px;
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }

    &-right {
      @include font-main;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      margin-top: 39px;
      display: flex;
      justify-content: space-around;
      width: 100%;
    }

    @media (max-width: $screen-lg-max) {
      flex-direction: column;
      &-left {
        justify-content: space-around;
      }
    }
    @media (min-width: $screen-xl) {
      &-left {
        &-logo {
          margin-left: 150px;
        }
        &-clock {
          margin-left: 37px;
        }
        &-time {
          margin-left: 13px;
        }
      }
    }
  }

  &-content {
    display: flex;
    justify-content: space-between;
    &-l {
      &-title {
        display: flex;

        &-line {
          margin-right: 17px;
        }

        &-text {
          font-weight: 700;
          font-size: 60px;
          line-height: 73.14px;

          .redd {
            color: $color-red;
            font-size: 60px;
          }
        }
      }

      &-subtitle {
        display: flex;
        margin-left: 149px;

        &-button {
          background-color: $color-red;
          position: relative;
          margin-right: 25px;
          width: 150px;
          height: 50px;
          position: relative;
          display: flex;
          justify-content: center;
        }
      }
    }

    .btn-main {
      background-color: $color-red;
      color: $color-white;
      border: 0;
    }

    &-r {
      margin-top: 325px;
      &-facebook {
        margin-bottom: 48px;
      }

      &-twitter {
        margin-bottom: 48px;
      }
    }

    @media (max-width: $screen-xs-max) {
      &-l {
        margin-top: 200px;
        margin-left: 10px;

        &-title {
          &-text {
            width: 180px;
          }
        }
      }

      &-r {
        margin-top: 230px;
        margin-right: 10px;
      }
    }

    @media (min-width: $screen-sm) and (max-width: $screen-lg-max) {
      &-l {
        margin-top: 200px;
        margin-left: 10px;

        &-title {
          &-text {
            width: 350px;
          }
        }
      }

      &-r {
        margin-top: 230px;
        margin-right: 50px;
      }
    }

    @media (min-width: $screen-xl) {
      &-l {
        margin-top: 336px;
        margin-left: 150px;
        &-title {
          &-text {
            width: 460px;
            height: 219px;
          }
        }

        &-subtitle {
          margin-bottom: 242px;
        }
      }
      &-r {
        margin-right: 80px;
        margin-top: 325px;
      }
    }
  }
}

// === / header ===

// === promo ===
.section-promo {
  &-popular {
    display: flex;
    flex-direction: column;
    margin-top: 155px;
    @include font-main;
    margin-bottom: 113px;

    &-title {
      width: 422px;
      height: 59px;
      font-weight: 600;
      font-size: 48px;
      line-height: 58.51px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 29px;
    }

    &-text {
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 8px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    &-line {
      margin-left: auto;
      margin-right: auto;
    }

    @media (max-width: $screen-md-max) {
      &-text {
        width: 450px;
      }
    }

    @media (min-width: $screen-lg) {
      &-text {
        width: 790px;

        height: 93px;
      }
    }
  }

  &-photo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 116px;

    @media (max-width: 1616px) {
      justify-content: space-around;

      flex-wrap: wrap;
    }

    @media (min-width: 1617px) {
      &-b {
        margin-top: 60px;
      }

      &-d {
        margin-top: 60px;
      }
    }
  }

  &-ultimate {
    display: flex;

    @include font-main;
    margin-bottom: 170px;

    &-title {
      font-weight: 600;
      font-size: 36px;
      line-height: 43.88px;
    }

    &-subtitle {
      display: flex;

      &-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        padding-left: 14px;
      }
    }

    @media (max-width: $screen-xs-max) {
      flex-direction: column;
      &-title {
        text-align: center;
        margin: center;
      }

      &-subtitle {
        margin: auto;
        &-text {
          width: 300px;
        }
      }
    }

    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      margin-left: 10px;
      margin-right: 10px;
      &-title {
        text-align: center;
        margin: center;
      }
    }

    @media (min-width: $screen-xl) {
      justify-content: space-around;
      &-title {
        width: 373px;
        height: 132px;
      }
      &-subtitle {
        &-text {
          width: 699px;
          height: 136px;
        }
      }
    }
  }
}
// === / promo ===

// === ad ===

.section-ad {
  position: relative;

  @include font-main;

  &-personal {
    &-a {
    }

    &-b {
      &-title {
        font-weight: 600;
        font-size: 36px;
        line-height: 43.88px;
      }

      &-subtitle {
        font-weight: 600;
        font-size: 24px;
        line-height: 29.26px;
      }

      &-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        width: 496px;
      }
    }
  }

  &-a {
  }

  &-b {
  }

  &-c {
  }

  &-d {
  }

  &-e {
    &-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 29.25px;

      .red {
        color: $color-red;
      }
    }

    &-text {
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
    }
  }
  @media (max-width: $screen-xs-max) {
    display: flex;
    flex-direction: column;

    &-personal {
      display: flex;
      flex-direction: column;
      &-a {
        img {
          width: 75%;
          height: 75%;
          margin-left: 20px;
        }
      }

      &-b {
        padding-left: 20px;
        &-text {
          width: 380px;
        }
      }
    }
    &-a {
      img {
        width: 70%;
        height: 70%;
        margin-left: 20px;
      }
    }

    &-b {
      img {
        width: 70%;
        height: 70%;
        margin-left: 20px;
      }
    }

    &-c {
      img {
        width: 70%;
        height: 70%;
        margin-left: 20px;
      }
    }

    &-d {
      img {
        width: 70%;
        height: 70%;
        margin-left: 20px;
      }
    }

    &-e {
      padding-left: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
      &-title {
        width: 380px;
      }
      &-text {
        width: 380px;
      }
    }
  }

  @media (min-width: $screen-sm) and (max-width: 1529px) {
    margin-left: 30px;
    &-personal {
      &-a {
        img {
          width: 500px;
          height: 500px;
        }
      }
    }

    &-e {
      margin-top: 20px;
      margin-bottom: 20px;
      &-text {
        width: 500px;
      }
    }
  }

  @media (min-width: 1530px) {
    height: 1537px;
    position: relative;
    @include font-main;
    &-personal {
      position: absolute;
      display: flex;
      &-b {
        padding-left: 82px;
        &-title {
          margin-bottom: 24px;
        }
        &-subtitle {
          margin-bottom: 12px;
        }
        &-text {
          width: 496px;
        }
      }
    }

    &-a {
      position: absolute;
      top: 550px;
      right: 0;
    }

    &-b {
      position: absolute;
      bottom: 0px;
      left: 0px;
    }
    &-c {
      position: absolute;
      top: 899px;
      left: 50%;
      transform: translate(-50%);
    }
    &-d {
      position: absolute;
      bottom: 0px;
      right: 0px;
    }
    &-e {
      position: absolute;
      bottom: 0px;
      text-align: center;
      left: 50%;
      transform: translate(-50%);
      width: 388px;
      &-title {
        margin-bottom: 22px;
      }
    }
  }
}
// === / promo ===

// === mail ===

.section-mail {
  margin-bottom: 150px;
  height: 939px;

  &-content {
    height: 786px;
    &-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include font-main;

      &-title {
        font-weight: 600;
        font-size: 36px;
        margin-top: 140px;
        text-align: center;
      }

      &-subtitle {
        font-weight: 400;
        font-size: 18px;
        margin-top: 16px;
        margin-bottom: 26px;
        text-align: center;
      }

      &-mail {
        margin-bottom: 16px;
        input {
          text-align: center;
          background: rgba(255, 255, 255, 0.15);
          border: none;
          outline: none;
          height: 60px;
          width: 402px;
          &::placeholder {
            color: $color-white;
          }
        }
      }

      &-submit {
        button {
          height: 60px;
          width: 402px;
        }
      }
    }
  }
  @media (max-width: 1500px) {
    margin-top: 40px;
    &-content {
      width: 100%;
      &-photo {
        img {
          margin-left: 50%;
          transform: translate(-50%);
          width: 360px;
          height: 270px;
        }
      }
    }
  }
  @media (min-width: 1500px) {
    background: url("/image/Rectangle\ 486.png") no-repeat 50% 50%;
    background-size: cover;
    &-content {
      &-photo {
        img {
        }
      }
    }
  }
}

// === / mail ===

// === footer ===

.section-footer {
  @include font-secondary;
  &-content {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 228px;

    &-rg {
      display: flex;
      flex-direction: column;
      padding-bottom: 40px;
      padding-right: 15px;
      &-rgym {
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
        margin-bottom: 4px;
      }

      &-lor {
        font-weight: 400;
        font-size: 18px;
        line-height: 36px;
        width: 279px;
        height: 109px;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      padding-bottom: 40px;
      padding-right: 15px;
      &-inform {
        font-weight: 500;
        font-size: 24px;
        line-height: 21px;
        margin-bottom: 45px;
      }

      &-list {
        display: flex;
        flex-direction: column;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        width: 81px;
        height: 168px;
        justify-content: space-between;
      }
    }

    &-more {
      display: flex;
      flex-direction: column;
      padding-bottom: 40px;
      padding-right: 15px;
      &-morelinks {
        font-weight: 500;
        font-size: 24px;
        line-height: 21px;
        margin-bottom: 45px;
      }

      &-list {
        display: flex;
        flex-direction: column;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        width: 167px;
        height: 168px;
        justify-content: space-between;
      }
    }

    &-fol {
      display: flex;
      flex-direction: column;
      padding-bottom: 40px;
      &-follow {
        font-weight: 500;
        font-size: 24px;
        line-height: 21px;
        margin-bottom: 24px;
      }

      &-pic {
        display: flex;
        justify-content: space-between;

        &-f {
          img {
            margin-top: 50%;
            margin-left: 50%;
            transform: translate(-50%, -50%);
          }
          height: 43px;
          width: 43px;
          background: #292929;
        }

        &-t {
          img {
            margin-top: 50%;
            margin-left: 50%;
            transform: translate(-50%, -50%);
          }
          height: 43px;
          width: 43px;
          background: #292929;
        }

        &-i {
          img {
            margin-top: 50%;
            margin-left: 50%;
            transform: translate(-50%, -50%);
          }
          height: 43px;
          width: 43px;
          background: #292929;
        }
      }
    }

    @media (max-width: $screen-xs-max) {
    }
    @media (max-width: $screen-lg-max) {
      flex-wrap: wrap;
    }
    @media (min-width: $screen-xl) {
    }
  }

  &-copyright {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-top: 107px;
    margin-bottom: 31px;
  }
}

// === / footer ===
